[submodule "external/riscv-compliance"]
	path = external/riscv-compliance
	url = https://github.com/riscv/riscv-compliance.git
[submodule "external/embench-iot"]
	path = external/embench-iot
	url = https://github.com/embench/embench-iot.git
[submodule "external/riscv-formal"]
	path = external/riscv-formal
	url = https://github.com/symbioticeda/riscv-formal.git
[submodule "external/riscv-opcodes"]
	path = external/riscv-opcodes
	url = https://github.com/scarv/riscv-opcodes.git
[submodule "external/xcrypto-rtl"]
	path = external/xcrypto-rtl
	url = https://github.com/scarv/xcrypto-rtl.git
